<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: darkgrey;
        }
        .chat-input-area{
            position: fixed;
            bottom: 0;
        }
        .sent-chat, .sent-chat-from-opposite{
            border: none;
        }
        /* .sent-chat{
            background-color: darkgreen;
            color: white;
            text-align: right;
        } */
        .sent-chat-from-opposite{
            background-color: darkslategray;
            color: white;
        }
        .hidden-area{
            background-color: transparent;
            color: transparent;
            border: none;
        }
        .name{
            max-width: 200px !important ;
        }
        .button, .dropdown-menu, .dropdown-item{
            background-color: darkred !important;
            color: white !important;
        }
        .dropdown-item:hover{
            background-color: red !important;
            color: black !important;
        }
        @media only screen and (max-width: 1000px) {
            body, input, button, li, span {
                font-size: 38px !important;
            }
        }
    </style>
    <body>
        <ul class="list-group sent-chat-area">
        </ul>
        <ul class="list-group hidden-area">
            <li class="list-group-item hidden-area">Hidden</li>
            <li class="list-group-item hidden-area">Hidden</li>
        </ul>
        <div class="input-group chat-input-area card-body">
            <span class="input-group-text">Chat:</span>
            <input type="text" class="form-control name" placeholder="Nama">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><span class="dropdown-item" onclick="end_this_conversation()">Akhiri konversasi ini</span></li>
            </ul>
            <input type="text" class="form-control message" placeholder="Pesan">
            <span class="input-group-text" onclick="send_message()">send</span>
        </div>
    </body>
    <script>
        $( document ).ready(function() {
            get_all_chats();
        });
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const room_number = urlParams.get('room_number');
        const user_name = urlParams.get('user_name');
        var old_length = 0;
        $(".name").val(user_name);
        $(".name").prop( "disabled", true );
        setInterval(() => {
            get_all_chats();
        }, 1000);
        function end_this_conversation(){
            $(".message").val("sampai jumpah");
        }
        function get_all_chats(){
            get_all_chats_in_this_room().done(function (response) {
                $(".sent-chat-area").empty();
                var i = 0;
                for(i; i < response.length; i ++){
                    $(".sent-chat-area").append(
                        `
                            <li class="list-group-item sent-chat-from-opposite">
                                ${response[i].name} : ${response[i].message}
                            </li>
                        `
                    );
                    if(response[i].message.toUpperCase().includes("SAMPAI JUMPAH")){
                        alert("This conversation has been ended by " + response[i].name);
                        window.location.href = "./thank-you";
                    }
                }
                if(old_length < response.length){
                    // alert(old_length);
                    old_length = response.length;
                    var mySound = new Audio("http://147.139.168.202:3045/ringtone");
                    mySound.play();
                }
            });
        }
        function get_all_chats_in_this_room(){
            var settings = {
                "url": `http://147.139.168.202:3045/get-messages?room_number=${room_number}`,
                "method": "GET",
                "timeout": 0,
            };
            
            return $.ajax(settings);
        }
        function send_message(){
            send_chat_to_this_room($(".message").val(), $(".name").val()).done(function (response) {
                get_all_chats();
                $(".message").val("");
            });
        }
        function send_chat_to_this_room(message, name){
            var settings = {
                "url": `http://147.139.168.202:3045/add-message?room_number=${room_number}&message=${message}&name=${name}`,
                "method": "GET",
                "timeout": 0,
            };
            
            return $.ajax(settings);
        }
    </script>
</html>