<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
        .card{
            display: table;
            margin: auto;
            text-align: center;
            border: none;
        }
        img{
            width: 20% !important;
        }
    </style>
    <body>
        <div class="card">
            <div class="card-body">
                <img src="./sold.co.id.png" class="card-img-top">
                <h5 class="card-title">Thank you from sold.co.id</h5>
                <p class="card-text">Terima Kasih atas waktu Anda!</p>
            </div>
        </div>
    </body>
    <script>
    </script>
</html>